spring:
  application:
    name: library

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: demopswd

  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 5000
